body {
    background-image: url('./images/ayaka.jpg');
    background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
}